body {
  --inaltime-meniu:25px;
  --latime-buton:150px;
  --culoare-meniu: #6AE2F7;
  --culoare-meniu-selectat: #567175;
  --latime-bord-meniu:1px ;
}

nav {
  height: var(--inaltime-meniu);
  background-color: var(--culoare-meniu);
  overflow: visible;
  position: relative;
  width: 100vw;
  position: sticky;
  top: 0;
}

ul.meniu > li, ul.meniu ul li {
  height: var(--inaltime-meniu);
  border: var(--latime-bord-meniu) solid black;
  width: var(--latime-buton);
}

ul.meniu div, ul.meniu a {
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

ul.meniu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul.meniu ul {
  list-style-type: none;
  z-index: 10px; /*z-index nu se aplica pe elemente pozitionate static*/
  position: relative;
  left: -1px;
  padding: 0;
  margin: 0;
  transform: scale(0.5, 0);
  display: none;
}
ul.meniu li {
  cursor: pointer;
  background-color: var(--culoare-meniu);
  transition: all 0.7s linear;
}
ul.meniu li:hover {
  display: block;
}
ul.meniu li div {
  transition: font-size 0.7s linear;
}
ul.meniu li div:hover {
  font-size: 20px;
}
ul.meniu li > a{
  display: block;
  width: 100%;
  position: relative;
}
ul.meniu li > a::before{
  display: block;
  position: absolute;
  left : 0;
  top: 0;
  width: 10px;
  height: 0;
  content: " ";
  opacity: 0;
  transition: all 0.7s linear;
  background-image: linear-gradient(to right, rgb(47, 168, 199), rgb(197, 231, 235));
}
ul.meniu li > a:hover::before{
  opacity: 1;        
  height: var(--inaltime-meniu);
}
ul.meniu li > a::after{
  display: block;
  position: absolute;
  right : 0;
  top: 0;
  width: 10px;
  height: 0;
  content: " ";
  opacity: 0;
  transition: all 0.7s linear;
  background-image: linear-gradient(to right, rgb(197, 231, 235), rgb(47, 168, 199));
}
ul.meniu li > a:hover::after{
  opacity: 1;        
  height: var(--inaltime-meniu);
}
ul.meniu li:hover ul {
  animation-name: animatie_submeniu;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transform: scale(1, 0);
  transform-origin: 50% 0;
  opacity: 0;
  display: block;
}
ul.meniu > li {
  overflow: hidden; /*overflow: se ocupa de ce iese din continutul elementului*/
  line-height: var(--inaltime-meniu); /*impinge ce e jos in overflow*/
  vertical-align: middle; /*aliniez la mijlocul liniei de text, acesta este doar pe linia de text*/
  text-align: center;
}
ul.meniu > li:hover {
  overflow: visible;
}
@keyframes animatie_submeniu {
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
#hamburger, #ch-menu {
  display: none;
}
.container {
  height: var(--inaltime-meniu);
  position: absolute; 
  margin: 5; 
  background: transparent; 
}
.white-box1 { 
  width: 30px; 
  height: 5px; 
  margin-top: 0px; 
  margin-bottom: 5px; 
  margin-left: auto; 
  margin-right: auto;   
  background: white;
  border-radius: 5px;
  }
.white-box2 { 
    width: 30px; 
    height: 5px; 
    margin-bottom: 5px; 
    margin-left: auto; 
    margin-right: auto;   
    background: white;
    border-radius: 5px;
}
.white-box3 { 
      width: 30px; 
      height: 5px; 
      margin-left: auto; 
      margin-right: auto;   
      background: white;
      border-radius: 5px;
}
@media screen and (max-width:700px) {
  .white-box1 { 
    animation: animatie_hamburger;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    width: 30px; 
    height: 5px; 
    margin-top: 0px; 
    margin-bottom: 5px; 
    margin-left: 0; 
    margin-right: auto;   
    border-radius: 5px;
    }
  .white-box2 { 
      animation: animatie_hamburger;
      animation-duration: 1s;
      animation-delay: 200ms;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      width: 30px; 
      height: 5px; 
      margin-bottom: 5px; 
      margin-left: 0; 
      margin-right: auto;   
      border-radius: 5px;
  }
  .white-box3 { 
    animation: animatie_hamburger;
    animation-duration: 1s;
    animation-delay: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    width: 30px; 
    height: 5px; 
    margin-left: 0; 
    margin-right: auto;   
    border-radius: 5px;
  }
}
@keyframes animatie_hamburger {
  0% {
    background: white;
  }
  100% {
    background: blue;
    opacity: 0.5;
    width: 35px; 
  }
}

/*# sourceMappingURL=nav.css.map */
