<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta name="description" content="Cofetaria Dulcelind - înregistrare utilizatori.">
        <meta name="keywords" content="cofetarie, Dulcelind, inregistrare, utilizatori">
		<title>Confirmare</title>
		
		<%- include("../fragmente/head.ejs") %>
	</head>
	<body>
			<%- include("../fragmente/header") %>
		<main>
			
			<h1>Confirmare mail</h1>
			<p>Totul a functionat bine!</p>
		</main>
		<footer>
		<%- include("../fragmente/footer") %>
	</footer>
	</body>
</html>