<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta name="keywords" content="skincare, ingrijire, produs, skincare routine">
        <meta name="description" content="Ingrijire. Lifestyle. Produse de calitate.">
		<title>Confirmare</title>
		
		<%- include("../fragmente/head.ejs") %>
	</head>
	<input type="checkbox" class="checkbox" id="checkbox">
  <label for="checkbox" class="checkbox-label">
    <i class="fas fa-moon"></i>
    <i class="fas fa-sun"></i>
    <span class="ball"></span>
  </label>
	<body>
			<%- include("../fragmente/header") %>
		<main>
			
			<h1 style="text-align: center;">Confirmare mail</h1>
			<h2>Totul a functionat bine!</h2>
		</main>
			<%- include('../fragmente/footer') %>
			<a href="#" class="linktop"><div id="triunghi"></div></a> 

	</body>
</html>