<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta name="description" content="Cofetaria Dulcelind - înregistrare utilizatori.">
        <meta name="keywords" content="cofetarie, Dulcelind, inregistrare, utilizatori">
		<title>Confirmare</title>
		
		<%- include("../fragmente/head.ejs") %>
	</head>
	<input type="checkbox" class="checkbox" id="checkbox">
  <label for="checkbox" class="checkbox-label">
    <i class="fas fa-moon"></i>
    <i class="fas fa-sun"></i>
    <span class="ball"></span>
  </label>
	<body>
			<%- include("../fragmente/header") %>
		<main>
			
			<h1>Confirmare mail</h1>
			<p>Totul a functionat bine!</p>
		</main>
		<footer>
		<%- include("../fragmente/footer") %>
		<a href="#" class="linktop"><div id="triunghi"></div></a> 
	</footer>
	</body>
</html>