<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta name="keywords" content="skincare, ingrijire, produs, skincare routine">
        <meta name="description" content="Ingrijire. Lifestyle. Produse de calitate.">
		<title>Confirmare</title>
		
		<%- include("../fragmente/head.ejs") %>
	</head>
	<body>
			<%- include("../fragmente/header") %>
		<main>
			
			<h2 style="text-align: center;">Confirmare mail</h2>
			<h3>Totul a functionat bine!</h3>
			<a href="#" class="linktop"><div id="triunghi"></div></a> 
		</main>
			<%- include('../fragmente/footer') %>
			

	</body>
</html>