<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="description" content="Cofetaria Dulcelind - cos virtual.">
    <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse, cos virtual">
    <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />
    <title>Cofetăria Dulcelind - cos virtual</title>
    <%- include("../fragmente/head") %>
        <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>
</head>
<body>
    <%- include("../fragmente/header") %>

        <main id="cos-virtual">


            <form id="formular-cumparare">
                <h3>Date de facturare</h3>
                <div id="camp">
                    <label for="nume">Nume:</label>
                    <input type="text" id="nume" name="nume" required>
                </div>

                <div id="camp">
                <label for="prenume">Prenume:</label>
                <input type="text" id="prenume" name="prenume" required>
            </div>
            
                <div id="camp">
                <label for="oras">Oraș:</label>
                <input type="text" id="oras" name="oras" required>
            </div>

                <div id="camp">
                <label for="strada">Strada:</label>
                <input type="text" id="strada" name="strada" required>
            </div>
            
                <div id="camp">
                <label for="numarulStrada">Numarul:</label>
                <input type="number" id="numarulStrada" name="numarulStrada" required>
            </div>

                <div id="camp">
                <label for="bloc">Bloc:</label>
                <input type="text" id="bloc" name="bloc">
            </div>

                <div id="camp">
                <label for="scara">Scara:</label>
                <input type="number" id="scara" name="scara" value="ex:3">
            </div>

                <div id="camp">
                <label for="etaj">Etaj:</label>
                <input type="number" id="etaj" name="etaj" value="ex:5">
            </div>

                <div id="camp">
                <label for="apartament">Apartament:</label>
                <input type="number" id="apartament" name="apartament" value="ex:7">
            </div>

                <div id="camp">
                <label for="nrtel">Numarul de telefon:</label>
                <input type="tel" id="nrtel" name="nrtel" required>
            </div>

                <div id="camp">
                <label for="suplimentare">Informatii suplimentare:</label>
                <input type="text" id="suplimentare" name="suplimentare">
            </div>
            </form>

            <button id="cumpara" class="button">
                Cumpara
            </button>

            <a href="#" class="linktop">
                <div id="triunghi"></div>
            </a>
        </main>

        <%- include("../fragmente/footer") %>
</body>

</html>