<!DOCTYPE html>
<html lang="ro">
  <head>
   <title>Pagina principala a site-ului</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
       
    <meta name="keywords" content="skincare, ingrijire, produs, skincare routine"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
    <meta name="description" content="Ingrijire. Lifestyle. Produse de calitate."><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->  
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" />
    <link rel="stylesheet" type="text/css" href="resurse/css/video.css">
    <link rel="stylesheet" type="text/css" href="resurse/css/galerie-statica.css">


    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <%- include("../fragmente/head.ejs") %>
  </head>

  <body>
   <%- include("../fragmente/header.ejs") %>
    <main>
        <p>A</p>
              <img src="resurse/imagini/skincare-image-products.png" alt="skin">
    </main>
    <%- include("../fragmente/footer.ejs") %>
  </body>
</html> 