<!DOCTYPE html>
<html lang="ro">
  <head>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
       
    <meta name="keywords" content="skincare, ingrijire, produs, skincare routine"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
    <meta name="description" content="Ingrijire. Lifestyle. Produse de calitate."><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->  
    
    
    <link rel="stylesheet" type="text/css" href="resurse/css/video.css">


    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <%- include("../fragmente/head.ejs") %>
  </head>

  <body>
   <%- include("../fragmente/header.ejs") %>
    <main>
     
    </main>

  </body>
  <%- include("../fragmente/footer.ejs") %>
</html> 