<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind - Logout">
        <meta name="keywords" content="cofetarie, Dulcelind, logout">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>Inregistrare </title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>
    </head>
     <input type="checkbox" class="checkbox" id="checkbox">
        <label for="checkbox" class="checkbox-label">
          <i class="fas fa-moon"></i>
          <i class="fas fa-sun"></i>
          <span class="ball"></span>
        </label>
    <body>
       
    <%- include("../fragmente/header") %>

    <main>
    Ai fost delogat!
</main>

<footer>
    <%- include('../fragmente/footer') %>
    <a href="#" class="linktop"><div id="triunghi"></div></a> 
</footer>

</body>
</html>