<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind - cos virtual.">
        <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse, cos virtual">
        <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />
        <title>Cofetăria Dulcelind - cos virtual</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/resurse/js/pagina_favorite.js"></script> 
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main id="pagina-favorite">
              
        <a href="#" class="linktop"><div id="triunghi"></div></a> 
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>