<!DOCTYPE html>
<html lang="ro">
  <head>
   <title>Quiz</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
       
    <meta name="keywords" content="skincare, ingrijire, produs, skincare routine"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
    <meta name="description" content="Ingrijire. Lifestyle. Produse de calitate."><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->  
    
    <!-- <link rel="stylesheet" type="text/css" href="resurse/css/video.css"> -->
    <link rel="stylesheet" type="text/css" href="resurse/css/quiz.css">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <%- include("../fragmente/head.ejs") %>
  </head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <main id="pagina-quiz">
        <h2>Afla tipul de ten pe care il ai!</h2>

        <div class="quiz-grid"></div>
            <form id="skin-type-quiz">

                <div class="intrebare">
                <h2>Intrebarea 1</h2>
                <h3>Cum va simtiti tenul dupa cateva ore dupa ce l-ati spalat?</h3>
                    <label for="radioButton1"><input type="radio" id="radioButton1" name="q1" value="oily"> Gras<br></label>
                    <label for="radioButton2"><input type="radio" id="radioButton2" name="q1" value="dry"> Uscat<br></label>
                    <label for="radioButton3"><input type="radio" id="radioButton3" name="q1" value="normal"> Normal<br></label>
                    <label for="radioButton4"><input type="radio" id="radioButton4" name="q1" value="combination"> Mixt(gras in zona T)<br></label>
            
            </div>

                <div class="intrebare">
                <h2>Intrebarea 2</h2>
                <h3>Cum reactioneaza pielea cand incepeti sa folositi un produs nou?</h3>
                <label for="radioButton5"><input type="radio" id="radioButton5" name="q2" value="breakout"> Imi apar cosuri repede<br></label>
                <label for="radioButton6"><input type="radio" id="radioButton6" name="q2" value="irritation"> Se irita usor<br></label>
                <label for="radioButton7"><input type="radio" id="radioButton7" name="q2" value="nothing"> Nu reactioneaza<br></label>
            </div>

                <div class="intrebare">
                <h2>Intrebarea 3</h2>
                <h3>Cat de vizibili sunt porii??</h3>
                <label for="radioButton8"><input type="radio" id="radioButton8" name="q3" value="large"> Sunt foarte vizibili si mari<br></label>
                <label for="radioButton9"><input type="radio" id="radioButton9" name="q3" value="small"> Nu se observa<br></label>
                <label for="radioButton10"><input type="radio" id="radioButton10" name="q3" value="medium"> Intre <br></label>
            </div>

                <div class="intrebare">
                <h2>Intrebarea 4</h2>
                <h3>Cat de repede va ardeti de la soare?</h3>
                <label for="radioButton11"><input type="radio" id="radioButton11" name="q4" value="very">Ma ard foarte repede<br></label>
                <label for="radioButton12"><input type="radio" id="radioButton12" name="q4" value="not">Nu ma ard foarte repede<br></label>
                <label for="radioButton13"><input type="radio" id="radioButton13" name="q4" value="sometimes"> Ma ard uneori<br></label>
                </div>  

                <div class="intrebare">
                    <h2>Intrebarea 5</h2>
                    <h3>Cum reactioneaza tenul dupa folosirea unui produs cu alcool in compozitia acestuia?</h3>
                    <label for="radioButton14"><input type="radio" id="radioButton14" name="q5" value="very">Se irita repede<br></label>
                    <label for="radioButton15"><input type="radio" id="radioButton15" name="q5" value="not">Nu reactioneaza in niciun fel<br></label>
            </div>

            <div class="submit">
            <button type="submit" class="submit-button" onclick="submitQuiz()">Submit</button>
            </div>
            </form>
        </div> 
    

        
            <div id="results" style="display:none;">
                    <div id="detalii">
                        <h2>Au venit rezultatele!</h2>
                        <h3>Aveti un ten: <span id="skin-type"></span></h3>
                        <h3>Cateva informatii si sfaturi pentru a avea grija de tenul dumneavoastra:</h3>
                        <ul id="skincare-tips"></ul>
                    </div>
            </div>

          
    
        <script>
            const quizForm = document.getElementById('skin-type-quiz');
            const quizResults = document.getElementById('results');
            const skinTypeResult = document.getElementById('skin-type');
            const skincareTips = document.getElementById('skincare-tips');
    
            quizForm.addEventListener('submit', (event) => {
                event.preventDefault(); // prevent default form submission behavior
    
                // collect user answers from the form
                const q1Answer = quizForm.q1.value;
                const q2Answer = quizForm.q2.value;
                const q3Answer = quizForm.q3.value;
                const q4Answer = quizForm.q4.value;
                const q5Answer = quizForm.q5.value;
    
                // determine skin type based on user answers
                let skinType = '';
                if ((q1Answer === 'oily') && (q2Answer === 'breakout' || q2Answer === 'nothing' || q2Answer === 'irritation') && (q3Answer === 'large' || q3Answer === 'medium') && (q4Answer === 'not' || q4Answer === 'sometimes') && q5Answer === 'not')
                 {
                    skinType = 'Gras';
                } 
                else if ((q1Answer === 'dry')  && (q2Answer === 'breakout' || q2Answer === 'nothing' || q2Answer === 'irritation') && (q3Answer === 'small' || q3Answer === 'medium') && (q4Answer === 'very' || q4Answer === 'sometimes' || q4Answer === 'not') && (q5Answer === 'not' || q5Answer === 'very')) {
                    skinType = 'Uscat';
                    } 
                else if ((q1Answer === 'normal' || q1Answer === 'combination') && q2Answer === 'nothing' && (q3Answer === 'medium' || q3Answer === 'small')  && (q4Answer === 'not' || q4Answer === 'sometimes') && q5Answer === 'not') {
                    skinType = 'Normal';
                    } 
                else if ((q1Answer === 'combination') && (q2Answer === 'breakout' || q2Answer === 'nothing') && (q3Answer === 'medium' || q3Answer === 'large') && (q4Answer === 'not' || q4Answer === 'sometimes') && (q5Answer === 'very' || q5Answer === 'not')) {
                    skinType = 'Mixt';
                    } 
                else if ((q1Answer === 'normal') && (q2Answer === 'irritation' || q2Answer === 'breakout') && (q3Answer === 'large' || q3Answer === 'medium' || q3Answer === 'small') && (q4Answer === 'sometimes'|| q4Answer === 'very') && q5Answer === 'very') {
                    skinType = 'Sensibil';
                    } 
                else {
                    skinType = 'Eroare';
}
		// display quiz results
		skinTypeResult.textContent = skinType;
		skincareTips.innerHTML = getSkincareTips(skinType);
		quizResults.style.display = 'block';
	});

	     // returns an array of skincare tips for the given skin type
         function getSkincareTips(skinType) {
            switch (skinType) {
                case 'Gras':
                    return ["Sebumul poate înfunda porii și poate duce la creșterea frecvenței erupțiilor de acnee. Totuși, persoanele care au un astfel de ten se bucură de câteva părți bune, printre care se numără faptul că au pielea mai groasă și mai puține riduri. Toate aceste beneficii se datorează uleiului care ajută la conservarea pielii. Folositi un cleanser bland, o crema nu foarte grasa si incercati sa evitati machiajul strident si greu. Nu uitati de SPF, cel mai important pas!"];
                case 'Uscat':
                    return ["Tenul uscat este o problemă cu care foarte multe persoane se confruntă în ziua de astăzi și care poate fi destul de dificil de gestionat. O piele uscată poate fi cauzată de o varietate de factori, precum vremea de afară, produsele de îngrijire neadecvate sau chiar dieta și stilul de viață nesănătos. Indiferent de cauze însă, tenul uscat poate fi frustrant și inconfortabil pentru majoritatea persoanelor, întrucât, pe lângă aspectul inestetic pe care îl oferă, acesta vine la pachet și cu mai multe simptome neplăcute, precum mâncărimea. Incercati sa folositi un cleanser bland si hidratant, folositi o crema grasa si hranitoare si aplicati-o  pe tenul putin umed. Nu uitati de SPF, cel mai important pas!"];
                case 'Normal':
                    return ["Principala caracteristică a tenului normal este echilibrul. Acest tip de ten are o circulație bună, pielea nu este nici prea grasă și nici prea uscată, nu prezintă pete, puncte negre. Este prezent în principal la persoanele tinere, cu un metabolism echilibrat. Nu uitati de SPF, cel mai important pas!"];
                case 'Mixt':
                    return ["Specialiștii consideră că tenul mixt sau combinat este cel mai des întâlnit tip de ten. Tenul gras, care este caracteristic perioadei adolescenței, va deveni mixt odată cu înaintarea în vârstă a fiecărei persoane. Tenul mixt, așa cum indică și denumirea sa, este o îmbinare sau un mix între anumite tipuri de ten pe care le întâlnim în mod frecvent. Folositi o crema nu foarte grasa, hartii matifiante in zonele unde simtiti nevoia. Nu uitati de SPF, cel mai important pas!"];
                case 'Sensibil':
                    return ["Tenul sensibil este o afecțiune a pielii care poate fi caracterizată prin simptome precum roșeață, iritație, senzație de arsură, uscăciune, mâncărime sau senzație de strângere a pielii. Acest tip de ten poate fi cauzat de o varietate de factori, cum ar fi expunerea la agenți iritanți, utilizarea produselor cosmetice dure sau sensibilitatea crescută a pielii. Oamenii cu ten sensibil trebuie să acorde o atenție specială îngrijirii pielii și să utilizeze produse care sunt formulate special pentru a ajuta la calmarea și hidratarea pielii. În caz contrar, aceștia riscă să agraveze simptomele și să provoace apariția unor probleme de sănătate ale pielii, cum ar fi eczema sau dermatita. Pentru a preveni problemele de sănătate ale pielii și pentru a menține tenul sensibil sănătos, este important să se evite produsele cosmetice care conțin ingrediente iritante sau prea puternice. În schimb, este recomandat să se utilizeze produse de îngrijire a tenului care conțin ingrediente calmante, potrivite pentru nevoile acestui tip de ten.  Nu uitati de SPF, cel mai important pas!"];
                default:
                    return ['Din pacate alegerile facute nu au dus la un rezultat :( Verificati daca ati completat toate campurile, daca ati completat corect si daca nici asa, nu toate tipurile de ten au aceleasi caracteristici intotdeauna :) Opinia medicului dermatolog este cea mai importanta'];
            }
        }
</script>
<a href="#" class="linktop"><div id="triunghi"></div></a> 
</main>
        <%- include("../fragmente/footer.ejs") %>
        
    </body>
    </html> 