.mesaj-c{
    min-height:5rem;
    left: 0;
    margin:5px;
    width:70%;
    max-width:700px;
    background-color: var(--cl-light-t);
    border-radius: 15px;
    box-shadow: 
    inset #059c8e 0 0 0 2px,
    inset #0cab9c 0 0 0 5px;
    padding:0.4rem;
}
.mesaj-c p{
    padding-left:1rem;
}

main{
    padding: 0.5rem;;
}

.mesaj-c time{
    font-style: italic;
}