#text{	
	position:relative;
    transform: skew(45deg) scaleY(0.5) ; 
}

#text-reflectat{
    position:absolute;   
    transform: scale(-1, 1) skew(45deg);   
    translate: 200px;
}



#text, #text-reflectat{
	font-size:50px;
	line-height:50px;
	font-weight: bold;
    transition: all 1s linear;
    color: pink;
}

#text-reflectat:hover{
    color: blue;
}


#text:hover{
    color: blue;
}

#container{
    height: 150px;
}