/* p {
	font-weight: bold;
	text-decoration: underline;
}

/* putem genera EJS chiar si cu fisiere externe */

/*
p::before {
	content: "1234";
	color: blue;
} 
*/

body {
	counter-reset: cnt;
}

#tabl {
	border-collapse: collapse;
}

tr {
	counter-increment: cnt;
}

#tabl td,
#tabl th {
	border: 1px solid black;
}

p {
	color: grey
}


/* 
.suma-totala::after {
	content: "Numar produse" counter(cnt);
	display: block;
} */

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.emblema {
	width: 100px;
	height: auto;
	margin: 10px;
}

.titlu {
	margin-bottom: 20px;
}

.produse {
	margin-bottom: 20px;
}

.suma-totala {
	margin-top: 20px;
}