.quiz-grid {
    display: grid;
    gap: 20px;
  }
  
  
.intrebare {
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 
    inset #059c8e 0 0 0 2px,
    inset #0cab9c 0 0 0 5px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.column {
    width: 48%;
}
  
h1{
    text-align: center;
}

input{
    vertical-align: left;
}
  
.navigation {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
} 

.submit-button {
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #28a745;
    align-items: center;
}

.submit{
    text-align: center;
    padding: 10px;
}

  
#results{
    margin: 20px;
    background: transparent;
    line-height: 30px;
    font-weight: medium;
    padding: 40px;
    box-shadow:       
      inset #059c8e 0 0 0 1px, 
      inset #0cab9c 0 0 0 3px, 
      inset #009688 0 0 0 5px, 
      inset #1fbdae 0 0 0 7px, 
      inset #8ce9ff 0 0 0 9px, 
      inset #48e4d6 0 0 0 11px, 
      inset #e5f9f7 0 0 0 23px, 
      inset #bfecf7 0 0 0 15px;
    text-shadow: 1px 1px 1px #4ecbbf;
}
