p,
figure {
  margin: 0;
}

body{
  margin: 10 ;
}

input,
button,
textarea,
select {
  font: inherit;  /*mosteneste de la parinte*/
}

html:focus-within {
  scroll-behavior: smooth;
}

h1{
  font-size: 2em;
}

html{
  font-size: 20px;
}


ul[role='list'],
ol[role='list'] {
  list-style: none;  /*listele nu continul niciun fel de element ca sa le arate ordinea in fata elementelor*/
} 