<footer id="f">
    <h2>Info</h2>
    <div>Mai multe detalii despre noi aici:</div> 
    <ul>
      <ol>
      <li><span>&#9742;</span><a href="tel:+40756485224">+40750000224</a></li>
      <li><a href="https://www.bing.com/maps?osid=54e2f2c6-2aec-463b-8785-4887fb1a5433&cp=44.435927~26.094353&lvl=16&imgid=f5a4b894-82d9-46ad-a0e7-d37999a0027a&v=2&sV=2&form=S00027" target="_blank">Adresa unde ne gasiti fizic</a></li>
      <li><span>&#9993;</span><a href="mailto:skema.skm@gmail.ro">skema.skm@gmail.ro</a></li>
      <li><a href="https://wa.me/40756485224">Numar de telefon</a></li>
      <li>
        <address>
          strada Florilor nr.6, Bucuresti<br>
          Ilfov<br>
          Romania<br>
        </address>
      </li>
    </ol>
</ul>
            <p><q>Be good to your skin. You’ll wear it every day for the rest of your life.</q> – Renée Rouleau</p>
  <br>
            <a href="#" class="linktop"><div id="triunghi"></div></a>  

    <p>Publicat la data de <time datetime="2022-10-10T10:30+03:00">10 octombrie 2022</time></p>
    <p><small>Copyright &copy;</small></p>
  </footer>