<link rel="stylesheet" href="resurse/css/footer.css" type="text/css"/>

<footer id="f">
    <h2>Mai multe detalii despre noi</h2>

    <div id="grid-footer">
      <div id="contact">
        <a href="tel:+40756485224" target="_blank"><span id="span">&#9742;</span>
          <br>
          +40750000224</a>
      </div>

      <div id="contact">
        <a href="https://goo.gl/maps/QoBiTFwTPphULEZN6" target="_blank"><span id="span">&#128506;</span>
          <br>
          Adresa unde ne gasiti fizic</a>
      </div>

      <div id="contact">
        <a href="mailto:skema.skm@gmail.ro" target="_blank">
          <span id="span">&#9993;</span>
          <br>
          skema.skm@gmail.ro</a>
      </div>
      
      <div id="contact">
        <a href="https://wa.me/40750000224" target="_blank">
          <span id="span">✆</span>
        <br>
        WhatsApp</a>
      </div>
      
<!--
        <address>
          strada Florilor nr.6, Bucuresti<br>
          Ilfov<br>
          Romania<br>
        </address>
        -->
    </div>
    
   <!-- <p><q>Be good to your skin. You’ll wear it every day for the rest of your life.</q> – Renée Rouleau</p>
    <br>-->
    <p>Licenta CTI &copy; 2023</p>
    <p id="banner"> <span id="cookies"> Acceptati cookies? <button id="cookies">OK</button></span> </p>
  </footer>