<section id="galerie-statica">
    <h2>Imagini</h2>
    <div id="grid-galerie">
<!--iteram prin toate imaginile din vectorul de imagini json-->
<%   for (let imag of locals.imagini) {   %> 
    <figure>
        <picture> 
          <source srcset="<%- imag.fisier_mediu%>" media="(max-width:1200px)"/>
          <source srcset="<%- imag.fisier_mic%>" media="(max-width:700px)"/>
          <img src="<%- imag.fisier%>" alt="imagine">
        </picture>
          <figcaption><%- imag.descriere%></figcaption>
    </figure>
    <%    } %> 
</div>
</section>