<header class="c1" id="h1">
  <div class="video-container">
    <video autoplay loop playsinline muted>
      <source src="/resurse/video/river.mp4"  type="video/mp4">
    </video>
  </div>

  <a href="/"><h1 class="text-center">Skincare Skema</h1></a>
  
    <% if(locals.utilizator) { %> <!-- daca e logat si atat-->
                 
     <p>Bine ai revenit 
      <a href="/profil"><div><%- locals.utilizator.username %></div></a> 
      <a href="/logout">Logout</a></p>  <!-- ii facem un buton cu username-ul lui -->

      <% } else {%>
        <a href="/loginpage"><img class="login" src="/resurse/imagini/login.png"><p>Login</p></a>

        <% } %>

    <%if (locals?.utilizator?.areDreptul?.(Drepturi.vizualizareUtilizatori)){%>
              <li><a href="/useri">Useri</a></li>
              <!-- <li><a href="/grafice">Grafice</a></li> -->
              <li><a href="/comenzi">Comenzi</a></li> <!--aici intervine mongo,salvam facturile in mongo-->

    <% } %>

    <!-- <p id="watermark"></p>
    <p id="absolut"></p> -->
    <!-- <button id="tema"><span class="fas fa-regular fa-sun"></span><span class="fas fa-regular fa-moon"></span></button> -->
   
   

  
      <nav> 
        <label id="hamburger" for="ch-menu">
           <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu"> 
          <!-- <div class="container">
            <div class="white-box1"></div>
            <div class="white-box2"></div>
            <div class="white-box3"></div>
          </div> -->
      </label>
      <input id="ch-menu" type="checkbox">
          <ul class="meniu">
              <li><div id="fas"><span class="fas fa-regular fa-house"></span></div><div id="acasa"><a href="/">Acasa</a></div>      
                  <ul>
                      <li><a href="/index#despre">Despre</a></li>
                      <!-- <li><a href="/index#promotii">Promotii</a></li> -->
                      <li><a href="/index#recomandari">Recomandari</a></li>
                      <!-- <li><a href="/index#orar">Orar</a></li>
                      <li><a href="/index#anunturi">Anunturi</a></li> -->
                      <!-- <li><a href="/index#placeholder2">Placeholder2</a></li> -->
                      <li><a href="/index#galerie-statica">Imagini</a></li>
                      <li><a href="/index#quiz">Quiz</a></li>
                      <!-- <li><a href="/index#placeholder6">Placeholder6</a></li>
                      <li><a href="/index#placeholder7">Placeholder7</a></li> -->
                      
                  </ul>
              </li> 

              <li><div>Produse</div>
                <ul>
                  <li><a href="/produse">Toate</a></li>         
                  <li><a href="/produse?tip=apa micelara">Apa micelara</a></li>
                  <li><a href="/produse?tip=gel curatare">Gel de curatare</a></li>
                  <li><a href="/produse?tip=toner">Toner</a></li>
                  <li><a href="/produse?tip=exfoliant">Exfoliant</a></li>
                  <li><a href="/produse?tip=crema ochi">Crema de ochi</a></li>
                  <li><a href="/produse?tip=ser">Ser</a></li>
                  <li><a href="/produse?tip=eye patch">Eye patch</a></li>
                  <li><a href="/produse?tip=crema">Crema de fata</a></li>
                  <li><a href="/produse?tip=masca faciala">Masca faciala</a></li>
                  <li><a href="/produse?tip=spf">SPF</a></li>
                  
                </ul>
              </li> 

              <li><div><a href="/inregistrare">Inregistrare</a></div></li>

              <li><div><a href="/tipurideten">Tipuri de ten</a></div></li>

              <li><div><a href="/quiz">Quiz</a></div></li>

              <li><div><a href="/cos-virtual">Cosul tau</a></div></li>
          </ul>
      </nav>  
    </header>