<header class="c1" id="h1">
    <h1><span class="fas fa-star fa-fw fa-spin"></span>Skincare Skema</h1>
    <p id="watermark"></p>
    <p id="absolut"></p>
    <button id="tema"><span class="fas fa-regular fa-sun"></span><span class="fas fa-regular fa-moon"></span></button>

      <nav> 
        <label id="hamburger" for="ch-menu">
           <!-- <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">  -->
          <div class="container">
            <div class="white-box1"></div>
            <div class="white-box2"></div>
            <div class="white-box3"></div>
          </div>
      </label>
      <input id="ch-menu" type="checkbox">
          <ul class="meniu">
              <li><div id="fas"><span class="fas fa-regular fa-house"></span></div><div id="acasa">Acasa</div>      
                  <ul>
                      <li><a href="/index#despre">Despre</a></li>
                      <li><a href="/index#promotii">Promotii</a></li>
                      <li><a href="/index#recomandari">Recomandari</a></li>
                      <li><a href="/index#orar">Orar</a></li>
                      <li><a href="/index#anunturi">Anunturi</a></li>
                      <li><a href="/index#placeholder2">Placeholder2</a></li>
                      <li><a href="/index#placeholder5">Placeholder5</a></li>
                      <li><a href="/index#placeholder6">Placeholder6</a></li>
                      <li><a href="/index#placeholder7">Placeholder7</a></li>
                  </ul>
              </li> 

              <li><div>Produse</div>
                <ul>
                  <li><a href="ingrijireatenului.html">Ingrijirea tenului</a></li>
                  <li><a href="ingrijireaparului.html">Ingrijirea parului</a></li>  
                  <li><a href="ingrijireafetei.html">Ingrijirea fetei</a></li>
                </ul>
              </li> 

              <li><div><a href="/tipurideten">Tipuri de ten</a></div></li>

              <li><div><a href="/galerie">Galerie</a></div></li>
                
              <li><div><a href="#f">Info</a></div></li>
          </ul>
      </nav>
    </header>